/* arrow_button의 기본 형태 */
.arrow_button{
    color: var(--color-primary);
    padding: 4px 32px;
    border: none;
    background-color: white;
    cursor: pointer;
    &:hover{
        background-color: hotpink;
        color: white;
    }
}
/* border 가 있는 형태 */
.arrow_button.border{
    border: 1px solid black;
    &:hover{
        border: none;
    }
}
/* rounded 형태 */
.arrow_button.rounded{
    border-radius: 16px;
}
/* big arrow_button */
.arrow_button.big{
    padding: 12px 40px;
}

:root{
    --main-x-padding: 32px;
    --main-y-padding: 52px;
}

/*****************************/

#mainpage{
    position: relative;
    width: 100%;
    overflow-x: hidden;
}


.coupon_info_container{
    position: fixed;
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: var(--font-label-lg-size);
    font-weight: var(--font-label-lg-weight);
    line-height: 45px;
    background-color: hotpink;
    color: white;
    z-index: 99;
}
.coupon_info_container > button{
    position: absolute;
    right: 20px;
    line-height: 45px;
    background: unset;
    border: none;
    color: white;
}
/***********************************************************/
header{
    position: absolute;
    width: 100%;
    top: 45px;
    /*background-color: grey;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px;
    z-index: 98;
}

header > .home_btn > img{
    width: 55px;
    height: 55px;
}

header > .main_menu{
    display: flex;
}

header > .main_menu > li{
    padding: 4px 12px;
    cursor: pointer;
    /*background-color: black;*/
}
header > .main_menu > li > a{
    text-decoration: none; /*underline 제거*/
    color: var(--color-on-primary);
    font-size: var(--font-body-lg-size);
    font-weight: 500;
    line-height: var(--font-body-lg-line-height);
    letter-spacing: var(--font-body-lg-letter-spacing);
    padding: 4px 0;
    /* 마우스 올렸을 시 */
    &:hover{
        border-bottom: 2px solid hotpink;
        color: hotpink;
    }
}

header > nav > ul{
    display: flex;
}

header > nav li{
    padding: 4px 8px;
}

header > nav a{
    text-decoration: none; /*underline 제거*/
    color: var(--color-on-primary);
    font-size: var(--font-body-lg-size);
    font-weight: var(--font-body-lg-weight);
    line-height: var(--font-body-lg-line-height);
    letter-spacing: var(--font-body-lg-letter-spacing);
    padding: 4px 0;
}
/****************************************************/

.hero_section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero_section .carousel{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.5s ease-in-out;
}
.hero_section .carousel .heroslide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
.hero_section .carousel .heroslide video,
.hero_section .carousel .heroslide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero_section .carousel .heroslide{
    position: relative;
}
.hero_section .hero_btn {
    display: flex;
    position: absolute;
    bottom: 40px;
    right: 40px;
    gap: 10px;
    z-index: 80;
}
.hero_section .hero_btn button {
    background: unset;
    border: solid 2px white;
    padding: 14px 30px;
    border-radius: 40px;
    color: white;
    cursor: pointer;
}

/************************************************/

main > .trending_section{
    padding: var(--main-y-padding) var(--main-x-padding);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.trending_section > h2{
    font-size: var(--font-headline-lg-size);
    font-weight: var(--font-headline-lg-weight);
    line-height: var(--font-headline-lg-line-height);
    letter-spacing: var(--font-headline-lg-letter-spacing);
}

.trending_section > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending_section .keyword_buttons {
    display: flex;
    gap: 16px;
    list-style: none;
}
.trending_section button{
    font-size: var(--font-body-lg-size);
    line-height: var(--font-body-lg-line-height);
    background: unset;
    border: none;
    color: var(--color-on-background);
    cursor: pointer;
    &:hover{
        font-weight: 600;
    }
}
.trending_section .keyword_buttons li.active button {
    font-weight: 600;
    border-bottom: 2px solid hotpink;
}

.product_lists_container {
    width: 100%;
}
.product_list {
    display: none;
    gap: 16px;
}
.product_list.active{
    display: flex;
    flex-wrap: wrap;
}
.product_list > li {
    flex: 1 1 250px;
    max-width: 400px;
}
.trending_section .product_lists_container a{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    color: var(--color-on-background);
}
.trending_section .image_container > img{
    width: 100%;
}

.trending_section .tag{
    font-size: 14px;
    line-height: var(--font-label-sm-line-height);
    color: var(--color-on-background);
    padding: 4px 8px;
    border-radius: 16px;
}
.trending_section .title{
    font-size: var(--font-body-lg-size);
    font-weight: var(--font-body-lg-weight);
}
.trending_section .price{
    font-size: var(--font-body-md-size);
    color: var(--color-primary);
}

/***************************************/

.edit_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 200px;
    background-color: black;
}
.edit_section > h2{
    position: absolute;
    top: 80px;
    right: 40px;
    font-size: 280px;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: var(--color-background);
}

.edit_section > .image_container{
    position: relative;
    flex: 1;
}
.edit_section img.main{
    width: 500px;
    height: 600px;
    object-fit: cover;

    &:hover{
        transform: rotate(-5deg);
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
}
.edit_section img.sub{
    position: absolute;
    top: 150px;
    right: 0;
    width: 350px;
    height: 350px;
    object-fit: cover;
    &:hover{
        transform: rotateZ(10deg);
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
}
.edit_section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edit_section > .label_container{
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 40px;
}
.edit_section > .label_container a{
    font-size: var(--font-headline-lg-size);
    font-weight: var(--font-body-md-weight);
    text-decoration: none;
    color: var(--color-background);
    margin-right: 20px;
    &:hover{
        color: hotpink;
    }
}


/***********************************************/

.information1_section{
    padding: var(--main-y-padding) var(--main-x-padding);
}

.information1_section > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1000px;
    gap: 24px;
    padding: 50px;
}
.information1_section > h2{
    font-size: 80px;
    font-weight: var(--font-headline-lg-weight);
    line-height: var(--font-headline-lg-line-height);
    letter-spacing: var(--font-headline-lg-letter-spacing);
    padding: 0 50px;

    transform: translateY(120%);
    opacity: 0;
    transition: all 1.5s ease;
}
.information1_section > h2.active {
    transform: translateY(0);
    opacity: 1;
}

.information1_section a{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information1_section .information{
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-background);
    padding: 32px;
    width: 100%;
}
.information1_section .information > h3{
    font-size: 48px;
    margin-bottom: 16px;
}
.information1_section .information > p{
    font-size: 24px;
}
.information1_section button{
    position: absolute;
    right: 32px;
    bottom: 32px;
    font-size: var(--font-body-lg-size);
}

/***************************************/

.information2_section{
    display: flex;
    width: 100%;
    height: 600px;
}
.information2_section .info2_text{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    background-color: black;
    color: var(--color-background);
    padding: 0 32px;
}
.information2_section .info2_text > p{
    font-size: 32px;
    line-height: 1.6;
}
.information2_section .info2_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/************************************************/
.information3_section{
    padding: var(--main-y-padding) var(--main-x-padding);
}

.information3_section > p{
    text-align: center;
    font-size: var(--font-headline-md-size);
    margin-bottom: 52px;
}
.information3_section .image_container{
    display: flex;
}
.information3_section .image_container img{
    flex: 1;
    height: 100%;
    object-fit: cover;
}
.information3_section .image_container img:first-child{
    margin-right: 8px;
}

/*************************************************/
.information4_section{
    padding: 50px;
    background-color: black;
}

.information4_section > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.information4_section  h2{
    font-size: 48px;
    color: white;
}

.information4_section button{
    font-size: var(--font-body-lg-size);
    align-self: center;
}
.information4_section .slide_wrapper{
    overflow: hidden;
}
.information4_section .slide_container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.information4_section .slide_container > li{
    flex-basis: 480px;
    flex-shrink: 0;
    cursor: pointer;
}
.information4_section .slide_container > li:not(:last-child){
    margin-right: 16px;
}
.information4_section .slide_container > li > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/******************************/
footer{
    background-color: black;
    color: white;
    padding: var(--main-y-padding) var(--main-x-padding);
}

footer > div{
    display: flex;
    justify-content: space-between;
}
footer .site_nav{
    display: flex;
}
footer .site_nav > div{
    width: 220px;
}
footer .site_nav h4{
    margin-bottom: 8px;
}
footer .site_nav ul{
    display: flex;
    flex-direction: column;
}
footer .site_nav li{
    margin-bottom: 4px;
}
footer .site_nav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}



footer .sns_nav ul{
    display: flex;
    margin-bottom: 12px;
}
footer .sns_nav li{
    margin-right: 12px;
}

footer .sns_nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    color: black;
}

footer .me_info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .me_info .name{
    font-size: 16px;
}
footer .me_info .email{
    font-size: 14px;
}
footer .me_info .text{
    font-size: 14px;
}

footer hr{
    margin: 24px 0;
}

.corp_info{
    font-size: 14px;
    line-height: var(--font-body-md-line-height);
}
.site_info{
    font-size: 14px;
    line-height: var(--font-body-md-line-height);
    text-align: right;
}

/*************************************/

#popup{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;

}

#popup .bg{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}
#popup .popup_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    height: 850px;
    display: flex;
    background-color: white;
}

#popup .popup_container > img{
    width: 600px;
    object-fit: cover;
}

#popup .popup_container #pop_i{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 32px 0;
}

#popup .popup_container .pop_infohead{
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-bottom: solid 1px lightgray;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

#popup .popup_container .popup_info {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 520px;
    overflow-y: scroll;
    padding: 0 32px;
}
#popup .popup_info .infolist{
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 32px 0;
    justify-content: space-around;
}
#popup .popup_info .infolist li{
    border-bottom: solid 1px lightgray;
}
#popup .popup_info .infolist .itemtxt{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
#popup .popup_info .infolist .itemtxt img{
    width: 70%;
    object-fit: cover;
}
#popup .popup_info .infolist .item-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#popup .popup_info .infolist .item-details .item-title{
    font-size: 14px;
    font-weight: 700;
}
#popup .popup_info .infolist .item-details .item-options{
    font-size: 12px;
    font-weight: 500;
}
#popup .popup_info .infolist .item-details .item-price{
    font-size: 16px;
    font-weight: 700;
}
#popup .popup_info .infolist .size {
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 12px;
    margin: 24px;
    margin-right: unset;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pop_i .pop_infobottom{
    width: 100%;
    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
#pop_i .pop_infobottom .bottomtxt{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}
#pop_i .pop_infobottom .bottomtxt span{
    font-size: 18px;
    font-weight: 600;
}

#pop_i .pop_infobottom .btn-order{
    width: 500px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: none;

    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


#popup .btn-close{
    position: absolute;
    top: 0;
    right: 16px;
    padding: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}


#popup{
    display: none;
}

/********************************/

/* 데스크탑 소형 & 큰 태블릿 */
@media screen and (max-width: 1024px) {

    .coupon_info_container {
        font-size: 14px;
        padding: 0 50px 0 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .coupon_info_container > button {
        right: 15px;
    }

    :root {
        --main-x-padding: 24px;
        --main-y-padding: 40px;
    }

    header {
        padding: 20px 24px;
    }
    header > .main_menu > li > a,
    header > nav a {
        font-size: 15px;
    }

    .product_list.active {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
    .product_list > li {
        max-width: 100%;
    }

    .edit_section {
        padding: 120px var(--main-x-padding) var(--main-y-padding) var(--main-x-padding);
    }
    .edit_section > h2 {
        font-size: 150px;
        top: 40px;
    }
    .edit_section img.main {
        width: 350px;
        height: 450px;
    }
    .edit_section img.sub {
        width: 240px;
        height: 240px;
        top: 100px;
    }
    .edit_section > .label_container{
        padding-left: 20px;
    }
    .edit_section > .label_container a {
        font-size: 24px;
        line-height: 1.5;
    }

    .information1_section > h2 {
        font-size: 56px;
        padding: 0 24px;
    }
    .information1_section > div {
        grid-template-rows: 700px;
        padding: 0 24px;
    }
    .information1_section .information > h3 {
        font-size: 36px;
    }
    .information1_section .information > p {
        font-size: 22px;
        line-height: 1.5;
    }

    .information2_section {
        padding: 24px var(--main-x-padding) var(--main-y-padding) ;
        display: flex;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 50vw;
        min-height: 440px;
    }
    .information2_section .info2_text {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        color: var(--color-background);
        padding: 0 40px;
        gap: 20px;
    }
    .information2_section .info2_text > p {
        font-size: 20px;
        line-height: 1.5;
    }
    .information2_section > img {
        flex: 0.5;
        width: 25% !important;
        height: 100% !important;
        object-fit: cover;
    }

    .information3_section {
        padding: var(--main-y-padding) var(--main-x-padding);
    }
    .information3_section > p {
        font-size: 18px;
        margin-bottom: 60px;
        font-weight: 500;
    }
    .information3_section .image_container {
        display: flex;
        width: 100%;
        height: 45vw;
        min-height: 350px;
    }
    .information3_section .image_container img {
        flex: 1;
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    .information3_section .image_container img:first-child {
        margin-right: 12px;
    }

    /* [팝업창] */
    #popup .popup_container {
        width: 95vw;
        max-width: 960px;
        height: 80vh;
        max-height: 750px;
    }
    #popup .popup_container > img {
        width: 45%;
    }
    #popup .popup_container #pop_i {
        width: 55%;
    }
    #popup .popup_container .popup_info {
        width: 100%;
        height: calc(100% - 200px);
    }
    #popup .popup_info .infolist {
        width: 100%;
    }
    #pop_i .pop_infobottom .bottomtxt,
    #pop_i .pop_infobottom .btn-order {
        width: 100%;
    }
}


/* 작은 태블릿 */
@media screen and (max-width: 768px) {
    :root {
        --main-x-padding: 16px;
        --main-y-padding: 32px;
    }

    .arrow_button{
        padding: 4px;
        width: 40px;
        height: 40px;
        font-size: 12px;
        text-align: center;
    }
    .arrow_button.rounded{
        border-radius: 50px;
    }
    .information4_section >div .arrow_button.rounded{
        width: 100px;
        border-radius: 20px;
    }

    .coupon_info_container {
        font-size: 12px;
        padding: 0 40px 0 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header {
        padding: 16px var(--main-x-padding);
    }

    .product_list.active {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .product_list > li {
        max-width: 100%;
    }

    .edit_section {
        padding: 60px var(--main-x-padding) var(--main-y-padding) var(--main-x-padding);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .edit_section > h2 {
        position: absolute;
        font-size: 80px;
        top: 40px;
    }
    .edit_section > .image_container{
        display: flex;
        width: 100%;
        height: 45vw;
        min-height: 350px;
        justify-content: space-around;
        align-items: center;
    }
    .edit_section img.sub {
        position: relative;
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .edit_section > .label_container a {
        font-size: 16px;
        line-height: 1.5;
    }

    .information1_section{
        padding: 16px var(--main-x-padding);
    }
    .information1_section > h2 {
        font-size: 48px;
    }
    .information1_section > div {
        grid-template-rows: 400px;
        padding: 16px;
        gap: 12px;
    }
    .information1_section .information > h3 {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .information1_section .information > p {
        font-size: 16px;
        line-height: 1.5;
    }
    .information1_section button{
        position: absolute;
        right: 16px;
        bottom: 16px;
    }

    .information2_section {
        padding: 0 var(--main-y-padding) ;
        display: flex;
        width: 100%;
        position: relative;
        height: 45vw;
        min-height: 350px;
    }
    .information2_section .info2_text {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: black;
        color: var(--color-background);
        padding: 0 24px;
        gap: 12px;
    }
    .information2_section .info2_text > p {
        font-size: 16px;
        line-height: 1.5;
    }
    .information2_section > img {
        flex: 0.5;
        width: 25% !important;
        height: 100% !important;
        object-fit: cover;
    }

    .information3_section {
        padding: var(--main-y-padding);
    }
    .information3_section > p {
        font-size: 18px;
        margin-bottom: 32px;
        font-weight: 500;
    }
    .information3_section .image_container {
        display: flex;
        width: 100%;
        height: 45vw;
        min-height: 350px;
    }
    .information3_section .image_container img {
        flex: 1;
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    .information3_section .image_container img:first-child {
        margin-right: 10px;
    }

    footer {
        padding: 16px var(--main-y-padding);
        font-size: 14px;
    }
    footer > div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 16px;
    }
    footer .site_nav{
        display: flex;
        width: 100%;
        justify-content: space-around;
        gap: 16px;
    }
    .corp_info, .site_info{
        text-align: left;
        font-size: 12px;
    }

    /* [팝업창] */
    #popup .popup_container {
        width: 90vw;
        max-width: 900px;
        height: 75vh;
        max-height: 600px;
    }
    #popup .popup_container > img {
        width: 45%;
    }
    #popup .popup_container #pop_i {
        width: 55%;
        padding: 16px;
        gap: 12px;
    }
    #popup .popup_container .popup_info {
        width: 100%;
        height: calc(100% - 200px);
        padding: 0;
        font-size: 14px;
    }
    #popup .popup_info .infolist {
        width: 100%;
    }
    #pop_i .pop_infobottom .bottomtxt,
    #pop_i .pop_infobottom .btn-order {
        width: 100%;0.
        font-size: 16px;
    }
}

/* 모바일 */
@media screen and (max-width: 480px) {
    
}