/* arrow_button의 기본 형태 */
.arrow_button{
    color: var(--color-primary);
    padding: 4px 32px;
    border: none;
    background-color: white;
    cursor: pointer;
    &:hover{
        background-color: hotpink;
        color: white;
    }
}
/* border 가 있는 형태 */
.arrow_button.border{
    border: 1px solid black;
    &:hover{
        border: none;
    }
}
/* rounded 형태 */
.arrow_button.rounded{
    border-radius: 16px;
}
/* big arrow_button */
.arrow_button.big{
    padding: 12px 40px;
}

:root{
    --main-x-padding: 32px;
    --main-y-padding: 52px;
}

/*****************************/

#mainpage{
    position: relative;
}


.coupon_info_container{
    position: fixed;
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: var(--font-label-lg-size);
    font-weight: var(--font-label-lg-weight);
    line-height: 45px;
    background-color: hotpink;
    color: white;
    z-index: 99;
}
.coupon_info_container > button{
    position: absolute;
    right: 20px;
    line-height: 45px;
    background: unset;
    border: none;
    color: white;
}
/***********************************************************/
header{
    position: absolute;
    width: 100%;
    top: 45px;
    /*background-color: grey;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px;
}

header > .home_btn > img{
    width: 55px;
    height: 55px;
}

header > .main_menu{
    display: flex;
}

header > .main_menu > li{
    padding: 4px 12px;
    cursor: pointer;
    /*background-color: black;*/
}
header > .main_menu > li > a{
    text-decoration: none; /*underline 제거*/
    color: var(--color-on-primary);
    font-size: var(--font-body-lg-size);
    font-weight: 500;
    line-height: var(--font-body-lg-line-height);
    letter-spacing: var(--font-body-lg-letter-spacing);
    padding: 4px 0;
    /* 마우스 올렸을 시 */
    &:hover{
        border-bottom: 2px solid hotpink;
        color: hotpink;
    }
}

header > nav > ul{
    display: flex;
}

header > nav li{
    padding: 4px 8px;
}

header > nav a{
    text-decoration: none; /*underline 제거*/
    color: var(--color-on-primary);
    font-size: var(--font-body-lg-size);
    font-weight: var(--font-body-lg-weight);
    line-height: var(--font-body-lg-line-height);
    letter-spacing: var(--font-body-lg-letter-spacing);
    padding: 4px 0;
}
/****************************************************/

main > .hero_section > video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/************************************************/

main > .trending_section{
    padding: var(--main-y-padding) var(--main-x-padding);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.trending_section > h2{
    font-size: var(--font-headline-lg-size);
    font-weight: var(--font-headline-lg-weight);
    line-height: var(--font-headline-lg-line-height);
    letter-spacing: var(--font-headline-lg-letter-spacing);
}

.trending_section > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending_section .keyword_buttons {
    display: flex;
    gap: 16px;
    list-style: none;
}
.trending_section button{
    font-size: var(--font-body-lg-size);
    line-height: var(--font-body-lg-line-height);
    background: unset;
    border: none;
    color: var(--color-on-background);
    cursor: pointer;
    &:hover{
        font-weight: 600;
    }
}
.trending_section .keyword_buttons li.active button {
    font-weight: 600;
    border-bottom: 2px solid hotpink;
}

.product_lists_container {
    width: 100%;
}
.product_list {
    display: none;
    gap: 16px;
}
.product_list.active{
    display: flex;
    flex-wrap: wrap;
}
.product_list > li {
    flex: 1 1 250px;
    max-width: 400px;
}
.trending_section .product_lists_container a{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    color: var(--color-on-background);
}
.trending_section .image_container > img{
    width: 100%;
}

.trending_section .tag{
    font-size: 14px;
    line-height: var(--font-label-sm-line-height);
    color: var(--color-on-background);
    padding: 4px 8px;
    border-radius: 16px;
}
.trending_section .title{
    font-size: var(--font-body-lg-size);
    font-weight: var(--font-body-lg-weight);
}
.trending_section .price{
    font-size: var(--font-body-md-size);
    color: var(--color-primary);
}

/***************************************/

.edit_section{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 200px;
    background-color: black;
}
.edit_section > h2{
    position: absolute;
    top: 80px;
    right: 40px;
    font-size: 280px;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: var(--color-background);
}



.edit_section > .image_container{
    position: relative;
    flex: 1;
}
.edit_section img.main{
    width: 70%;
    height: 100%;
    object-fit: cover;
}
.edit_section img.sub{
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    height: 50%;
    object-fit: cover;
    transform: translateY(-50%);
}
.edit_section > .label_container{
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 40px;
}
.edit_section > .label_container a{
    font-size: var(--font-headline-lg-size);
    font-weight: var(--font-body-md-weight);
    text-decoration: none;
    color: var(--color-background);
    margin-right: 20px;
}


/***********************************************/

.information1_section{
    padding: var(--main-y-padding) var(--main-x-padding);
}

.information1_section > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1000px;
    gap: 24px;
    padding: 50px;
}
.information1_section > h2{
    font-size: 80px;
    font-weight: var(--font-headline-lg-weight);
    line-height: var(--font-headline-lg-line-height);
    letter-spacing: var(--font-headline-lg-letter-spacing);

    padding: 0 50px;
}

.information1_section a{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information1_section .information{
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--color-background);
    padding: 32px;
    width: 100%;
}
.information1_section .information > h3{
    font-size: 48px;
    margin-bottom: 16px;
}
.information1_section .information > p{
    font-size: 24px;
}
.information1_section button{
    position: absolute;
    right: 32px;
    bottom: 32px;
    font-size: var(--font-body-lg-size);
}

/***************************************/

.information2_section{
    display: flex;
    width: 100%;
    height: 600px;
}
.information2_section .info2_text{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    background-color: black;
    color: var(--color-background);
    padding: 0 32px;
}
.information2_section .info2_text > p{
    font-size: 32px;
    line-height: 1.6;
}
.information2_section .info2_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/************************************************/
.information3_section{
    padding: var(--main-y-padding) var(--main-x-padding);
}

.information3_section > p{
    text-align: center;
    font-size: var(--font-headline-md-size);
    margin-bottom: 52px;
}
.information3_section .image_container{
    display: flex;
}
.information3_section .image_container img{
    flex: 1;
    height: 100%;
    object-fit: cover;
}
.information3_section .image_container img:first-child{
    margin-right: 8px;
}

/*************************************************/
.information4_section{
    padding: 50px;
    background-color: black;
}

.information4_section > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.information4_section  h2{
    font-size: 48px;
    color: white;
}

.information4_section button{
    font-size: var(--font-body-lg-size);
    align-self: center;
}
.information4_section .slide_wrapper{
    overflow: hidden;
}
.information4_section .slide_container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.information4_section .slide_container > li{
    flex-basis: 480px;
    flex-shrink: 0;
    cursor: pointer;
}
.information4_section .slide_container > li:not(:last-child){
    margin-right: 16px;
}
.information4_section .slide_container > li > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/******************************/
footer{
    background-color: black;
    color: white;
    padding: var(--main-y-padding) var(--main-x-padding);
}

footer > div{
    display: flex;
    justify-content: space-between;
}
footer .site_nav{
    display: flex;
}
footer .site_nav > div{
    width: 220px;
}
footer .site_nav h4{
    margin-bottom: 8px;
}
footer .site_nav ul{
    display: flex;
    flex-direction: column;
}
footer .site_nav li{
    margin-bottom: 4px;
}
footer .site_nav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}



footer .sns_nav ul{
    display: flex;
    margin-bottom: 12px;
}
footer .sns_nav li{
    margin-right: 12px;
}

footer .sns_nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    text-decoration: none;
    color: black;
}

footer .me_info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .me_info .name{
    font-size: 16px;
}
footer .me_info .email{
    font-size: 14px;
}
footer .me_info .text{
    font-size: 14px;
}

footer hr{
    margin: 24px 0;
}

.corp_info{
    font-size: 14px;
    line-height: var(--font-body-md-line-height);
}
.site_info{
    font-size: 14px;
    line-height: var(--font-body-md-line-height);
    text-align: right;
}

/*************************************/

#popup{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

#popup .bg{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}
#popup .popup_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    height: 850px;
    display: flex;
    background-color: white;
}

#popup .popup_container > img{
    width: 600px;
    object-fit: cover;
}

#popup .popup_container #pop_i{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 32px 0;
}

#popup .popup_container .pop_infohead{
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-bottom: solid 1px lightgray;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

#popup .popup_container .popup_info {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 520px;
    overflow-y: scroll;
    padding: 0 32px;
}
#popup .popup_info .infolist{
    width: 480px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 32px 0;
    justify-content: space-around;
}
#popup .popup_info .infolist li{
    border-bottom: solid 1px lightgray;
}
#popup .popup_info .infolist .itemtxt{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
#popup .popup_info .infolist .itemtxt img{
    width: 70%;
    object-fit: cover;
}
#popup .popup_info .infolist .item-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#popup .popup_info .infolist .item-details .item-title{
    font-size: 14px;
    font-weight: 700;
}
#popup .popup_info .infolist .item-details .item-options{
    font-size: 12px;
    font-weight: 500;
}
#popup .popup_info .infolist .item-details .item-price{
    font-size: 16px;
    font-weight: 700;
}
#popup .popup_info .infolist .size {
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 12px;
    margin: 24px;
    margin-right: unset;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pop_i .pop_infobottom{
    width: 100%;
    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
#pop_i .pop_infobottom .bottomtxt{
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}
#pop_i .pop_infobottom .bottomtxt span{
    font-size: 18px;
    font-weight: 600;
}

#pop_i .pop_infobottom .btn-order{
    width: 500px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: none;

    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


#popup .btn-close{
    position: absolute;
    top: 0;
    right: 16px;
    padding: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}


#popup{
    display: none;
}

